.btn {
  border: none;
  cursor: pointer;
  display: inline-block;
  margin-top: var(--space-md);
  outline: 0;
  padding: var(--space-md) var(--space-xl);
  text-align: center;
  transition: all .3s linear;
}

.btn--block {
  display: block;
}

.btn--sm {
  font-size: var(--text-sm);
  padding: var(--space-sm) var(--space-lg);
}