html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  overflow: hidden;
  font-family: $fuente;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: $fuente-titulos;
  margin: 0 0 $separacion-small 0;
}

h3 {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  margin: $separacion 0 $separacion-xs;
}

img {
  max-width: 100%;
}

p {
  color: $blanco;
}

ul {
  list-style: none;
  padding: 0;
}
