//* CONTAINER

.container {
  margin: 0 auto;
  width: 90%;

  &.container--sm {
    max-width: 600px;
  }

  &.container--md {
    max-width: 800px;
  }

  &.container--lg {
    max-width: 1200px;
  }
}


//* FONT-WEIGHT

$fws: 100, 200, 300, 400, 500, 600, 700, 800, 900;

@each $fw in $fws {
  .fw--#{$fw} {
    font-weight: $fw;
  }
}


//* TEXT-ALIGN

$tas: left, center, right;

@each $ta in $tas {
  .ta--#{$ta} {
    text-align: $ta;
  }
}
